@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-color: #fff;
  --secondary-color: #f8f9fa;
  --main-color-dark: #1e1e1e;
  --secondary-color-dark: #343a40;
  --accent-color: #FFA500;
  --secondary-accent-color: #6c757d;
  --button-color: #007bff;
  --button-hover-color: #0056b3;

  --black: #222;
  --white: #fff;


  /* Ligth theme set up */
  --primary-bg-color: var(--main-color);
  --secondary-bg-color: var(--secondary-color);
  --primary-text-color: var(--black);

  /* Sizes */
  --navbar-height: 60px;
}

.dark-theme {
  /* Overrides Light theme */
  --primary-bg-color: var(--main-color-dark);
  --secondary-bg-color: var(--secondary-color-dark);
  --primary-text-color: var(--white);
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}